body {
  background-color: bisque;
  font-family: printvetica;
  overflow-wrap: normal;
}

@font-face {
  font-family: printvetica;
  src: url(../assets/Printvetica.otf);
}

h1 {
  font-family: printvetica;
}

.bread {
  width: 150px;
}

.butter {
  width: 200px;
}  

.jam {
  width: 150px;
}

.jelly {
  width: 100px;
}

.intro {
  max-width: 75%;
}