body {
  background-color: bisque;
  font-family: printvetica;
  overflow-wrap: normal;
}

@font-face {
  font-family: printvetica;
  src: url(../assets/Printvetica.otf);
}

h1 {
  font-family: printvetica;
}

.bread {
  width: 150px;
}

.butter {
  width: 200px;
}  

.jam {
  width: 150px;
}

.jelly {
  width: 100px;
}

.intro {
  max-width: 75%;
}

.new-here{
  width: 100%;
  background-color: green;
  padding: 3px;
  text-align: center;
}

.table-cell{
  border: solid 1px black;
  padding: 2px;
}

table {
  border: solid 1px black;
}

.big-button {
  height: 100px;
  width: 200px;
  font-size: 48px;
  background-color: rgb(132, 73, 73);
  color: bisque;
  border: none;
  border-radius: 25px;
}

.scroll-left {
  height: 50px;	
  width: 100%;
  overflow: hidden;
  position: relative;
  background: yellow;
  color: orange;
  border: 1px solid orange;
}

.scroll-left p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  transform:translateX(100%);
  /* Apply animation to this element */
  animation: scroll-left 10s linear infinite;
 }
 /* Move it (define the animation) */
 @keyframes scroll-left {
  0%   {
  transform: translateX(100%); 		
  }
  100% {
  transform: translateX(-100%); 
  }
}

.scroll-right {
  height: 50px;	
  width: 100%;
  overflow: hidden;
  position: relative;
  background: yellow;
  color: orange;
  border: 1px solid orange;
}

.scroll-right p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  transform:translateX(100%);
  /* Apply animation to this element */
  animation: scroll-right 10s linear infinite;
 }
 /* Move it (define the animation) */
 @keyframes scroll-right {
  0%   {
  transform: translateX(-100%); 		
  }
  100% {
  transform: translateX(100%); 
  }
 }